@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-100);
  }
}
