@import "tailwindcss";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", sans-serif;
}

@layer base {
  html {
    background-color: var(--color-neutral-900);
  }

  body {
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-100);
  }
}
