---
import Base from "../layouts/Base.astro";
---

<Base meta={{
  title: "UseSpaces | Turn chaotic plans into structured goals."
}}
>
  <main>
    <h1 class="text-2xl font-semibold">Welcome to useSpaces</h1>
  </main>
</Base>
