---
import '../styles/global.css'

// Supports weights 100-900
import '@fontsource-variable/inter';
// Supports weights 100-800
import '@fontsource-variable/jetbrains-mono';

interface Props {
  meta: {
    title: string;
    description?: string;
  }
}

const { meta } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{meta.title}</title>
  </head>
  <body>
    <slot /> <!-- your content is injected here -->
  </body>
</html>